<h1 class="title">Customers</h1>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <div class="column is-3">
      <%= render partial: "customers/customer", locals: { customer: customer } %>
    </div>
  <% end %>
</div>